<footer><!-- This footer appears at the bottom of every page that you make. You can customize it with your team logo, sponsors, contact information, etc. -->

<div class="footer-name">
  <img class="igemlogo" src="https://2020.igem.org/wiki/images/f/fe/T--Waterloo--2020_waterlooigemlogo.svg">
</div>
<div class="spacer">
  <div class="linkcol">
    <h1>PROJECT</h1>
    <ul>
      <li><a href="http://2020.igem.org/Team:Waterloo/Description">Description</a></li>
      <li><a href="http://2020.igem.org/Team:Waterloo/Engineering">Engineering</a></li>
      <li><a href="http://2020.igem.org/Team:Waterloo/Model">Model</a></li>
      <li><a href="http://2020.igem.org/Team:Waterloo/Measurement">Measurement</a></li>
      <li><a href="http://2020.igem.org/Team:Waterloo/Implementation">Implementation</a></li>
      <li><a href="http://2020.igem.org/Team:Waterloo/Proof_Of_Concept">Proof of Concept</a></li>
    </ul>
  </div>
  <div class="linkcol">
    <h1>PARTS</h1>
    <ul>
      <li><a href="http://2020.igem.org/Team:Waterloo/Parts">Parts</a></li>
      <li><a href="http://2020.igem.org/Team:Waterloo/Contribution">Contribution</a></li>
      <li><a href="http://2020.igem.org/Team:Waterloo/Improvement">Improvement</a></li>
    </ul>
  </div>
  <div class="linkcol">
    <h1>HUMAN PRACTICES</h1>
    <ul>
      <li><a href="http://2020.igem.org/Team:Waterloo/Human_Practices">Human Practices</a></li>
      <li><a href="http://2020.igem.org/Team:Waterloo/Education">Education</a></li>
      <li><a href="http://2020.igem.org/Team:Waterloo/Inclusion">Inclusion</a></li>
    </ul>
  </div>
  <div class="linkcol">
    <h1>TEAM</h1>
    <ul>
      <li><a href="http://2020.igem.org/Team:Waterloo/Team">Members</a></li>
      <li><a href="http://2020.igem.org/Team:Waterloo/Attributions">Attributions</a></li>
      <li><a href="http://2020.igem.org/Team:Waterloo/Collaborations">Collaborations</a></li>
    </ul>
  </div>
</div>
<!--Code courtesy of https://codepen.io/brandondward/pen/RpyaKL-->
<div class="social-container">
  <h1>SOCIAL MEDIA</h1>
  <ul class="social-icons">
    <li><a href="https://www.facebook.com/WaterlooiGEM/"><i class="fa fa-facebook"></i></a></li><li><a href="https://twitter.com/waterloo_igem"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.instagram.com/waterloo.igem/"><i class="fa fa-instagram"></i></a></li><li><a href="https://github.com/igem-waterloo"><i class="fa fa-github"></i></a></li>
  </ul>
</div></footer>