<html>
    <head>
        <!--delete this head once header is finalized-->
        <meta charset:"utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../CSS/uflorida_style.css" media="screen" type="text/css">
        <link rel="stylesheet" href="../CSS/bootstrap.min.css" media="screen" type="text/css">
        <link rel="stylesheet" href="../CSS/index.css" media="screen" type="text/css">
        <link rel="stylesheet" href="../CSS/fontawesome.css" media="screen" type="text/css">
        <link rel="stylesheet" href="../CSS/fonts.css" media="screen" type="text/css">
        <link rel="stylesheet" href="../CSS/normalize.css" media="screen" type="text/css">
    
        <link rel="import" href="../Templates/UFlorida_Header.html">
    
        <script src="../JS/header.js?action=raw&ctype=text/javascript"></script>
        <script src="../JS/collapse.js?action=raw&ctype=text/javascript"></script>
        <script src=""></script>
    </head>
<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="genspace" src="img/Genspace_logo.png" alt="">
        <a class="navbar-brand" href="#"><img id="logo" src="img/IGEM-genspace-logo-lg.png" alt=""></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav"> 
          <li class="active"><a href="./">HOME</a></li>
          <li><a href="./team.html">TEAM</a></li>
          <li class="dropdown">
            <a href="./project.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PROJECT<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="./background.html">Background</a></li>
            </ul>
          </li>
          <li><a href="./parts.html">parts</a></li>
          <li><a href="./notebook.html">NOTEBOOK</a></li>
          <li><a href="./attributions.html">ATTRIBUTIONS</a></li>
          <li><a href="./collaborations.html">collaborations</a></li>
          <li><a href="./human.html">HUMAN PRACTICES</a></li>
          <li><a href="./safety.html">SAFETY</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>
</html>