<!-- this is copied straight from someone's igem wiki. maybe we want to do something like this for ours? -->


<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://2020.igem.org/wiki/index.php?title=Template:Vilnius-Lithuania/fonts.css&action=raw&ctype=text/css" />
    <link rel="stylesheet" type="text/css" href="https://2020.igem.org/wiki/index.php?title=Template:Vilnius-Lithuania/CSS/Loader&action=raw&ctype=text/css"/>
    <script>
        window.addEventListener("load", function() {
            let loader = document.getElementById('loader-bg');
            setTimeout(function() {
                loader.classList.add('loaded')
            }, 200);
        });
    </script>
</head>
<body>
    <div id="loader-wrapper">
        <div id="loader-bg">
            <img src="https://2020.igem.org/wiki/images/e/e6/T--Vilnius-Lithuania--loader.gif" />
            <h1>Loading...</h1>
        </div>
    </div>

</body>

</html>
</script>