<!DOCTYPE html>
<html>

<head>
    <meta charset:"utf-8">
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
    <title>UF iGEM Team Page</title>
    <link rel="stylesheet" href="igem_florida_styles.css" media="screen" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200&display=swap" rel="stylesheet" />
</head>
<header>

    <nav>
        <a href="#">
            <h1>LOGO</h1>
        </a>
        <ul>
            <li>
                <a href="#">
                    <h2>Home</h2>
                </a>
            </li>

            <li>
                <button class="subnav-button">Team</button>
                <div class="subnav-content"></div>
                <a href="#">
                    <h2>Team</h2>
                </a>
            </li>

            <li>
                <a href="#">
                    <h2>Project</h2>
                </a>
            </li>

            <li>
                <a href="#">
                    <h2>Part</h2>
                </a>
            </li>

            <li>
                <a href="#">
                    <h2>Results</h2>
                </a>
            </li>

            <li>
                <a href="#">
                    <h2>Human Practices</h2>
                </a>
            </li>

            <li>
                <a href="#">
                    <h2>Contact</h2>
                </a>
            </li>
        </ul>


    </nav>


</header>

</html>