<!DOCTYPE html>
<html>
    <head>
        <link href="temp_style.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <title>Navbar</title>
    </head>
    <body>
        <header>
            <div class="container">
                <img src="../DesignDocs/logos/email.png" alt="logo" class="logo" style="height:2em; width:auto;">
                <nav>
                    <ul>
                        <li class="dropdown">
                            <div class="dropbtn"><a href="#" class="main-nav-item">home<span class="caret"></span></a></div>
                            <div class="dropdown-content">
                                <a href="#">item1</a>
                                <a href="#">item2</a>
                            </div>
                        </li>
                        <li><a href="#" class="main-nav-item">about</a></li>
                        <li><a href="#" class="main-nav-item">blog</a></li>
                        <li><a href="#" class="main-nav-item">yurrr</a></li>

                    </ul>
                </nav>

            </div>
        </header>
        
    </body>
</html>

