<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../CSS/igem_florida_footer.css" media="screen" />
    <link rel="stylesheet" href="../CSS/igem_florida_styles.css" media="screen" />
</head>
<html>
<footer>
    <div class="footer-row">
        <div class="footer-column" style="flex: 50%;">
            <div class="footer-row">
                <p>Thank you to our sponsors!</p>
            </div>
            <div class="footer-row">
                <div class="footer-column" style="flex: 33.33%;">
                    <a href="https://google.com">
                        <img src="../DesignDocs/logos/exactech-example.png" alt="" class="footer-sponsor-logo">
                    </a>
                </div>
                <div class="footer-column" style="flex: 33.33%;">
                    <a href="https://google.com">
                        <img src="../DesignDocs/logos/exactech-example.png" alt="" class="footer-sponsor-logo">
                    </a>
                </div>
                <div class="footer-column" style="flex: 33.33%;">
                    <a href="https://google.com">
                        <img src="../DesignDocs/logos/exactech-example.png" alt="" class="footer-sponsor-logo">
                    </a>
                </div>
            </div>

        </div>
        <hr style="transform: rotate(90); width: 6px; border-radius: 3px; background-color: rgba(0,0,0,0.7);">
        <div class="footer-column" style="flex: 50%;">
            <div class="footer-row">
                <p>Contact us</p>
            </div>
            <div class="footer-row" style="transform: translateY(10px);">
                <div class="footer-column" style="flex: 33.33%;">
                    <a href="https://facebook.com">
                        <img src="../DesignDocs/logos/email.png" alt="" class="footer-contact-logo">
                    </a>
                </div>
                <div class="footer-column" style="flex: 33.33%;">
                    <a href="https://instagram.com">
                        <img src="../DesignDocs/logos/email.png" alt="" class="footer-contact-logo">
                    </a>
                </div>
                <div class="footer-column" style="flex: 33.33%;">
                    <a href="mailto:temporary@gmail.com">
                        <img src="../DesignDocs/logos/email.png" alt="" class="footer-contact-logo">
                    </a>
                </div>
            </div>

        </div>

    </div>
</footer>

</html>