<!DOCTYPE html>
<!--{{Template_All_Teams}}-->
<!--find this ^^ for current competition-->

<html>
    <head>
        <meta charset:"utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="../CSS/uflorida_style.css" media="screen" type="text/css">
            <link rel="stylesheet" href="../CSS/bootstrap.css" media="screen" type="text/css">
            <link rel="stylesheet" href="../CSS/fontawesome.css" media="screen" type="text/css">
            <link rel="stylesheet" href="../CSS/fonts.css" media="screen" type="text/css">
            <link rel="stylesheet" href="../CSS/normalize.css" media="screen" type="text/css">

            <link rel="import" href="../Templates/UFlorida_Header.html">

        <script src=""></script>
        <script src=""></script>

    </head>
</html>

{{UFlorida_Header}}