<!DOCTYPE html>


<html>

<head>
    <!--delete this head once header is finalized-->
    <meta charset:"utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../CSS/uflorida_style.css" media="screen" type="text/css">
    <link rel="stylesheet" href="../CSS/bootstrap.css" media="screen" type="text/css">
    <link rel="stylesheet" href="../CSS/fontawesome.css" media="screen" type="text/css">
    <link rel="stylesheet" href="../CSS/fonts.css" media="screen" type="text/css">
    <link rel="stylesheet" href="../CSS/normalize.css" media="screen" type="text/css">

    <link rel="import" href="../Templates/UFlorida_Header.html">

    <script src="../JS/header.js?action=raw&ctype=text/javascript"></script>
    <script src="../JS/collapse.js?action=raw&ctype=text/javascript"></script>
    <script src=""></script>
</head>
<header>
    <nav class="navbar navbar-nav navbar-default navbar-fixed-top main-nav">
        <div class="container-fluid">
            <!--UFlorida IGEM logo to home page-->
            <div class="navbar-header">
                <button class="navbar-collapse" type="button">



                </button>
                <a class="navbar-home" href="#"><img src="../DesignDocs/photos/abby_hirshberg.png" alt="UFlorida iGEM Logo"></a>

            </div>
            <!--Links to other pages-->
            <div class="navbar-collapse">
                <ul class="navbar-right">
                    <!--Project-->
                    <li class="dropdown">
                        <a class="dropdown-toggle">
                            Project
                            <span class=caret></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li><a href="#">Item 3</a></li>
                        </ul>
                    </li>
                    <!--Team-->
                    <li class="dropdown">
                        <a class="dropdown-toggle">
                            Team
                            <span class=caret></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li><a href="#">Item 3</a></li>
                        </ul>
                    </li>
                    <!--Safety-->
                    <li class="dropdown">
                        <a class="dropdown-toggle">
                            Safety
                            <span class=caret></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li><a href="#">Item 3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </nav>


</header>

</html>